@use '../../mixins';

section.hero > article .contenu {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-weight: 600;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;

    @include mixins.respond-up(lg) {
      font-size: var(--font_Size_KV_Title_M);
    }

    @include mixins.respond-up(2xl) {
      font-size: var(--font_Size_KV_Title_L);
    }
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4 {
    font-size: var(--font_Size_Heading_4);
    line-height: var(--font_Line_Height_Heading_4);
  }

  h5 {
    font-size: var(--font_Size_Heading_5);
    line-height: var(--font_Line_Height_Heading_5);
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
